body {
    background-image: url("img/6282340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    font-family: Andale Mono, monospace;
    padding-bottom: 100px;
}

.carousel-item img {
    max-height: 600px;
}

h2 {
    color: #ffffff;
    margin-left: 50px;
}

.carousel {
    margin-bottom: 100px;
}

.bg-color {
    /* background-color: #1e2132; */
    background-color: #151622;
}

.collapse p{
    color:#ffffff
}

.carousel-item img{
    display: block;
    margin: auto; 
}
 
.card img{
    max-height: 580px;  
}